<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Contact Us</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'users/style.css' %}">
		
		<!--[if lt IE 9]>
		<script src="{% static 'users/weather/js/ie-support/html5.js' %}"></script>
		<script src="{% static 'users/weather/js/ie-support/respond.js' %}"></script>
		<![endif]-->

	</head>


	<body>
		
		<div class="site-content">
			<div class="site-header">
				<div class="container">
					<a href="{% url 'users:weather' %}" class="branding">
						<img src="{% static 'users/weather/images/logo.png' %}" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Indian Institute Of Information Technology , Sri City</h1>
							<small class="site-description">Plant Watering System</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="{% url 'users:weather' %}">Home</a></li>
							
							<li class="menu-item current-menu-item"><a href="{% url 'users:contact' %}">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->

			<main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="{% url 'users:weather' %}">Home</a>
						<span>Contact</span>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="col-md-5">
							<div class="contact-details">
								<div class="map" data-latitude="13.557288" data-longitude="80.024786"></div>
								<div class="contact-info">
									<address>
										<img src="{% static 'users/weather/images/icon-marker.png' %}" alt="">
										<p>IIITS<br><a href="https://www.iiits.ac.in/">iiits.ac.in</a><br>
										 5655 Central Express way Satyavedu Mandal, Chittoor District, Sri, Andhra Pradesh 517541</p>
									</address>
									
									<a href="#"><img src="{% static 'users/weather/images/icon-phone.png' %}" alt="">073064 73364</a>
									<a href="#"><img src="{% static 'users/weather/images/icon-envelope.png' %}" alt="">soumik.m16@iiits.in</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-1">
							<h2 class="section-title">Contact us</h2>
							<p>Please forward your suggestions on our project and how to improve it .Thank You!</p>
							<form action="#" class="contact-form">
								<div class="row">
									<div class="col-md-6"><input type="text" placeholder="Your name..."></div>
									<div class="col-md-6"><input type="text" placeholder="Email Addresss..."></div>
								</div>
								<div class="row">
									<div class="col-md-6"><input type="text" placeholder="Company name..."></div>
									<div class="col-md-6"><input type="text" placeholder="Website..."></div>
								</div>
								<textarea name="" placeholder="Message..."></textarea>
								<div class="text-right">
									<input type="submit" placeholder="Send message">
								</div>
							</form>

						</div>
					</div>
				</div>
				
			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="https://www.facebook.com/IIIT.SriCity/"><i class="fa fa-facebook">Fb</i></a>
								
							</div>
						</div>
					</div>

					<p class="colophon">Group@16</p>
				</div>
			</footer> <!-- .site-footer -->
		</div>
		
		<script src="{% static 'users/weather/js/jquery-1.11.1.min.js' %}"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
		<script src="{% static 'users/weather/js/plugins.js' %}"></script>
		<script src="{% static 'users/weather/js/app.js' %}"></script>
		
	</body>

</html>